{{ define "main" }}

{{ $Pages := .Pages }}

<article>
    <header>
        <h1>{{ .Title | default "Cubes" | humanize }}</h1>
    </header>
    <div class="cube-listing">
        {{- range sort $Pages "Params.sort_index" "asc" }}
        <section>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p class="cube-status">
                <span class="status-label status-{{ .Params.status }}">{{ replace .Params.status "-" " " }}</span>
            </p>
            <p>{{ .Description }}</p>
            <p>
                <a href="{{ .Permalink }}">More Details</a>
                {{ with .Params.cubecobra_link }}
                    | <a href="{{ . }}">CubeCobra</a>
                {{ end }}
            </p>
        </section>
        {{- end }}
    </div>
    {{ .Content }}
</article>

{{ end }}