{{ define "main" }}

<article>
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    {{ with .Params.status }}
    <p class="single-status">
        <strong>Status:</strong>
        <span class="status-label status-{{.}}">{{ replace . "-" " " }}</span>
    </p>
    {{ end }}
    {{ with .Params.links }}
    <p class="cube-links">
        <strong>Links:</strong>
        {{ range $title, $url := . }}
            <span class="cube-link"><a href="{{ $url }}">{{ $title }}</a></span>
        {{ end }}
    </p>
    {{ end }}
    {{ .Content }}
</article>

{{ end }}