<div class="deck-comp-chart">
    <div class="deck-comp-row">
        <div class="deck-comp-element width-42-42 bg-dk-gray">42 cards total</div>
    </div>
    <div class="deck-comp-row">
        <div class="deck-comp-element width-1-42 bg-gold"><i class="ss ss-cmd"></i></div>
        <div class="deck-comp-element width-27-42 bg-lt-gray"><i class="ms ms-multiple"></i></div>
        <div class="deck-comp-element width-14-42 bg-brown"><i class="ms ms-land"></i></div>
    </div>
    <div class="deck-comp-row">
        <div class="deck-comp-element width-1-42"></div>
        <div class="deck-comp-element width-2-42 bg-purple"><i class="ss ss-v14"></i></div>
        <div class="deck-comp-element width-3-42 bg-red"><i class="ms ms-power"></i></div>
        <div class="deck-comp-element width-2-42 bg-green"><i class="ms ms-ability-landfall"></i></div>
        <div class="deck-comp-element width-5-42 bg-blue"><i class="ms ms-counter-lore"></i></div>
        <div class="deck-comp-element width-15-42 bg-lt-gray"><i class="ms ms-ability-transform"></i></div>
    </div>
</div>